{{!-- <div class="team-backdrop" id="team-backdrop"> --}}
    <div class="modal-student-wraper">
        <article class="flow">
            <div class="hackers_title"><span class="fontSpan">TIME</span><span>hackers</span></div>
            {{!-- <p>Hover or focus over each card to see the person’s job title slide in and the colour treatment
                change.</p> --}}
            <div class="team">
                <ul class="auto-grid" role="list">
                    <li class="list__item">
                        <a href="https://github.com/Oleksandr2891" target=_blank" class="profile" data-action="github">
                            <h2 class="profile__name">ALEXANDER lavrenko</h2>
                            <p>Team Lead</p>
                            <img alt="" src="{{Alexander}}" />
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="https://github.com/VladChornyi" target=_blank" class="profile" data-action="github">
                            <h2 class="profile__name">VLADISLAV</h2>
                            <p>Scrum Master</p>
                            <img alt="" src="{{Vladislav}}" />
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="https://github.com/MartyInFuture" target=_blank" class="profile" data-action="github">
                            <h2 class="profile__name">MARTY</h2>
                            <p>Tech Lead</p>
                            <img alt="" src="{{Marty}}" />
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="https://github.com/PetiurAliona" target=_blank" class="profile" data-action="github">
                            <h2 class="profile__name">ALIONA</h2>
                            <p>Developer</p>
                            <img alt="" src="{{Aliona}}" />
                        </a>
                    </li>
                    <li class="list__item">

                        <a href="https://github.com/TheDeveloperAlex" target=_blank" class="profile"
                            data-action="github">
                            <h2 class="profile__name">ALEX</h2>
                            <p>Developer</p>
                            <img alt="" src="{{Alex}}" />
                        </a>
                    </li>
                    <li class="list__item">
                        <a class="hackers_arrow-div" href="https://github.com/Oleksandr2891/shop-from-future"
                            target=_blank" data-action="github">
                            <p class="hackers_arrow"><span class="shopName">shop from future</span> > </p>
                        </a>

                    </li>
                </ul>
            </div>
        </article>
    </div>
    {{!--
</div> --}}