

<section >
    <div class="hero">
    <div class="Ads-slider-container">
    <div class="swiper-wrapper">
        {{#each mainAdsArr}}
        <div class="hero__slider swiper-slide">
            <div class="price-wrapper">
            <h2 class="hero__title">{{title}}</h2>
            <p class="hero__price">{{price}}</p>
            </div>
            <div>
            <img class="slider-img"  src="{{imageUrl}}"  alt="{{title}}">
            </div>
        </div>
        {{/each}}
    </div>
    <div class="swiper-pagination"></div>
    </div>
    <div class="hero__advertising">
            {{#each rigthAdsArr}}
            <div class="ads-box">
            <div class="price-box">
                <h2 class="price-wrapper__title">{{title}}</h2>
                <p class="price-wrapper__price">{{price}}</p>
            </div>
            <img class="ads-img"  src="{{imageUrl}}" alt="{{title}}">
            </div>
            {{/each}}
    </div>
    </div>
    <div class="hero__advertising_row">
        {{#each downAdsArr}}
        <div class="ads-box">
        <div class="price-box">
            <h2 class="price-wrapper__title">{{title}}</h2>
            <p class="price-wrapper__price">{{price}}</p>
        </div>
        <img class="ads-img" src="{{imageUrl}}" alt="{{title}}">
        </div>
        {{/each}}
    </div>


</section>